<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yxdtyut.demo.demoshiro.mapper.UserMapper">
    <resultMap id="userMap" type="com.yxdtyut.demo.demoshiro.domain.User">
        <id property="uid" column="uid"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <collection property="roles" ofType="com.yxdtyut.demo.demoshiro.domain.Role">
            <id property="rid" column="rid"/>
            <result property="rname" column="rname"/>
            <collection property="permissions" ofType="com.yxdtyut.demo.demoshiro.domain.Permission">
                <id property="pid" column="pid"/>
                <result property="pname" column="pname"/>
                <result property="url" column="url"/>
            </collection>
        </collection>
    </resultMap>

    <select id="findUserByUsername" parameterType="string" resultMap="userMap">
        select u.*, r.* , p.*
        FROM
          user u INNER JOIN user_role ur on u.uid = ur.uid
          INNER JOIN role r on ur.rid = r.rid
          INNER JOIN permission_role pr on r.rid = pr.rid
          INNER join permission p on pr.pid = p.pid
          where u.username = #{username}
    </select>
</mapper>